# Project
krakend-compiled.json
.env
requests.http

# Docker
docker-compose/*

# compiled output
/dist
/node_modules

# OS
.DS_Store

# IDEs and editors
/.idea
.history
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json